body {
    font-family: times;
    background-color: #e3e3e3;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #292929;
    color: #ffffff;
}
